.Acao {
  margin-top: 13px;
}

.TableAtaques {
  .ataqueNome {
    width: 160px;
  }

  .ataqueAlcance {
    width: 90px;
  }

  .ataqueAcerto {
    width: 63px;
  }

  .ataqueDano {
    width: 76px;
  }

  .ataquePropriedades {

  }
}