.ListProficiencia {
  height: 260px;
  margin-top: 3px;

  .ListProficienciaItem {
    font-size: 15px;
  }
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}
